/* Bootstrap Button Customisation */

.btn-success {
    background-color: #0e4b2e;
}

.btn-danger {
    background-color: #861c27;
}

.btn-secondary {
    background-color: #4f565c;
    ;
}

.btn-warning {
    background-color: #9d7500;
}

.btn-cust-template{
    color: #fff;
    background-color: #d7461a;
    border-color: #ff5927
}
.btn-cust-template:hover{
    background-color: #fc5f2f;
}