/* Bootstrap Button Customisation */

.btn-success {
    background-color: #0e4b2e;
}

.btn-danger {
    background-color: #861c27;
}

.btn-secondary {
    background-color: #4f565c;
    ;
}

.btn-warning {
    background-color: #9d7500;
}